h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 10px;
}

h3,
h4 {
  margin-bottom: 7px;
}
p,
span {
  margin-bottom: 3px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}
